[package]
name = "client"
version = "0.1.0"
authors = ["Yusuf Bera Ertan <y.bera003.06@protonmail.com>"]
edition = "2018"
license = "GPLv3"
repository = "https://github.com/harmony-development/crust"
homepage = "https://github.com/harmony-development/crust"

[dependencies]
harmony_rust_sdk = { git = "https://github.com/harmony-development/harmony_rust_sdk.git", branch = "master", features = ["client"] }

infer = "0.5.0"
directories-next = "2.0.0"

tokio = { version = "1.9", features = ["parking_lot", "time", "fs"] }
rand = "0.8"
ahash = "0.7"
indexmap = "1.7.0"
urlencoding = "2.0.0"

serde = { version = "1.0", features = ["derive"] }
chrono = "0.4.19"
tracing = "0.1"
bool_ext = "0.5"
smol_str = { version = "0.1.18", features = ["serde"] }
fancy-regex = "0.7"
lazy_static = "1"