[package]
name = "rucies"
version = "0.1.0"
authors = ["Yusuf Bera Ertan <y.bera003.06@protonmail.com>"]
edition = "2018"

[profile.dev]
opt-level = 2
overflow-checks = true
debug-assertions = true
debug = false
codegen-units = 8
lto = false
incremental = true

[profile.release]
opt-level = 3
overflow-checks = false
debug-assertions = false
lto = "thin"
debug = false

[dependencies]
harmony_rust_sdk = { git = "https://github.com/harmony-development/harmony_rust_sdk.git", features = ["client"] }

iced = { git = "https://github.com/yusdacra/iced", branch = "icy_matrix", features = ["tokio", "image"] }
iced_native = { git = "https://github.com/yusdacra/iced", branch = "icy_matrix" }
iced_futures = { git = "https://github.com/yusdacra/iced", branch = "icy_matrix" }

open = "1.4.0"
infer = "0.3.4"
rfd = "0.1.1"
image = "0.23.12"
directories-next = "2.0.0"

flume = "0.10.1"
tokio = { version = "1.0.2", features = ["rt-multi-thread", "parking_lot", "time", "fs"] }
uuid = { version = "0.8.2", features = ["v4"] }
ahash = "0.6"
indexmap = "1.6.1"

serde = { version = "1.0", features = ["derive"] }
toml = "0.5"
chrono = "0.4.19"
log = "0.4.11"
simplelog = "0.9.0"
fuzzy-matcher = "0.3.7"
