name: MacOS

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - '**/*.nix'
      - 'nix/envrc'
      - 'flake.lock'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - '**/*.nix'
      - 'nix/envrc'
      - 'flake.lock'

env:
  CARGO_TERM_COLOR: always

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Install rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: 1.52.0
        default: true
        override: true
        components: rustfmt,clippy

    - name: Cache rust
      uses: Swatinem/rust-cache@v1

    - name: Clippy
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        name: clippy-mac
    
    - name: Install cargo bundle
      run: cargo install cargo-bundle

    - name: Build
      run: cargo bundle --release
    
    - name: Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
        name: build-mac
        path: target/release/bundle/osx/Crust.app
